<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.java.com.po.dao.OrderManageMapper" >
    <resultMap id="BaseResultMap" type="main.java.com.po.entity.OrderManageEntity" >
        <result column="id" property="id" javaType="string" jdbcType="VARCHAR" />
        <result column="order_no" property="orederNo" javaType="string" jdbcType="VARCHAR"/>
        <result column="product_no" property="productNo" javaType="string" jdbcType="VARCHAR"/>
        <result column="product_name" property="productName" javaType="string" jdbcType="VARCHAR"/>
        <result column="approver" property="approver" javaType="string" jdbcType="VARCHAR"/>
        <result column="order_day" property="orderDay" javaType="string" jdbcType="VARCHAR" />
        <result column="supplier_no" property="supplierNo" javaType="string" jdbcType="VARCHAR" />
        <result column="supplier_name" property="supplierName" javaType="string" jdbcType="VARCHAR" />
        <result column="supplier_user" property="supplierUser" javaType="string" jdbcType="VARCHAR" />
        <result column="unit_price" property="unitPrice" javaType="string" jdbcType="VARCHAR" />
        <result column="tax_rate" property="taxRate" javaType="BigDecimal" jdbcType="DECIMAL" />
        <result column="amount" property="amount" javaType="BigDecimal" jdbcType="DECIMAL" />
        <result column="number" property="number" javaType="string" jdbcType="VARCHAR" />
        <result column="hold_number" property="holdNumber" javaType="string" jdbcType="VARCHAR" />
        <result column="tax_amount" property="taxAmount" javaType="BigDecimal" jdbcType="DECIMAL"/>
        <result column="total_sum" property="totalSum" javaType="BigDecimal" jdbcType="DECIMAL"/>
        <result column="status" property="status" javaType="string" jdbcType="VARCHAR"/>
        <result column="order_remarks" property="orderRemarks" javaType="string" jdbcType="VARCHAR"/>
        <result column="shipping_info" property="shippingInfo" javaType="string" jdbcType="VARCHAR"/>
        <result column="address" property="address" javaType="string" jdbcType="VARCHAR"/>
        <result column="name" property="name" javaType="string" jdbcType="VARCHAR"/>
        <result column="phone_no" property="phoneNo" javaType="string" jdbcType="VARCHAR"/>
        <result column="tel_no" property="telNo" javaType="string" jdbcType="VARCHAR"/>
        <result column="email" property="email" javaType="string" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" javaType="string" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" javaType="string" jdbcType="VARCHAR"/>
        <result column="cancel_reason" property="cancelReason" javaType="string" jdbcType="VARCHAR"/>
        <result column="invoice_id" property="invoiceId" javaType="string" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" javaType="string" jdbcType="VARCHAR"/>
        <result column="arrival_date" property="arrivalDate" javaType="string" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
		id,order_no,product_no,product_name,approver,order_day,supplier_no,supplier_name,supplier_user,
		unit_price,tax_rate,amount,tax_amount,total_sum,status,order_remarks,shipping_info,address,name,
		phone_no,tel_no,email,create_user,create_time,update_time,cancel_reason,invoice_id,arrival_date,number,hold_number
    </sql>

	<!-- 查询订单列表 -->
    <select id="queryObjectNew" resultMap="BaseResultMap"  >
       SELECT order_no,GROUP_CONCAT(product_no) as product_no,order_day,
        case when find_in_set('3',GROUP_CONCAT(STATUS)) <![CDATA[ > ]]> 0 then '异常订单' 
		when find_in_set('2',GROUP_CONCAT(STATUS)) <![CDATA[ > ]]> 0 then '异常订单' 
		when find_in_set('3',GROUP_CONCAT(STATUS)) <![CDATA[ > ]]> 0 then '关闭订单'
		else '正常订单' end as STATUS,
       approver,create_time,supplier_no,supplier_name,
	   supplier_user,address,name,phone_no,tel_no,email,order_remarks,GROUP_CONCAT(product_no) as product_no,order_day,GROUP_CONCAT(STATUS) as STATUS,approver,create_time
	   FROM order_manager
	   where status <![CDATA[ <> ]]> '0'
	   GROUP BY order_no order by create_time desc
	   <if test="offset != null and limit != null">
			limit #{offset}, #{limit}
	   </if>
    </select>
    
    <select id="queryTotalNew" resultType="int">
		select count(*) from (select * from order_manager where status <![CDATA[ <> ]]> '0'  GROUP BY order_no) t
	</select>
    
	<!-- 查询订单列表 -->
    <select id="queryObject" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM order_manager
	   where status <![CDATA[ <> ]]> '0'
	   GROUP BY order_no order by create_time desc
	   <if test="offset != null and limit != null">
			limit #{offset}, #{limit}
	   </if>
    </select>
    
    <!-- 条件查询订单列表 -->
    <select id="searchOrders" resultMap="BaseResultMap" parameterType="main.java.com.po.entity.SearchEntity" >
       SELECT
       <include refid="Base_Column_List" />
	   FROM order_manager
	   where status <![CDATA[ <> ]]> '0'
	   <if test="orederNo != null"> and order_no = #{orederNo} </if>
	   order by create_time desc
	   <if test="offset != null and limit != null">
			limit #{offset}, #{limit}
	   </if>
    </select>
    
	<select id="queryTotal" resultType="int">
		select count(*) from order_manager where status <![CDATA[ <> ]]> '0'
	</select>
     
    <!-- 通过订单号查询订单信息 -->
    <select id="queryDataByNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM order_manager where order_no = #{orederNo,jdbcType=VARCHAR} limit 1
    </select> 
    
  	<!-- 通过订单号查询订单信息 -->
    <select id="proviewDataByNo" resultMap="BaseResultMap" parameterType="main.java.com.po.entity.OrderManageEntity" >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM order_manager 
	   where 1 = 1
	   <if test="orederNo != null"> and order_no = #{orederNo}</if>
	   <if test="productNo != null"> and product_no = #{productNo}</if>
	   <if test="supplierNo != null"> and supplier_no = #{supplierNo}</if> 
    </select> 

	<!-- 创建订单 -->
	<insert id="insert" parameterType="main.java.com.po.entity.OrderManageEntity">
		INSERT into order_manager(order_no,product_no,product_name,approver,order_day,supplier_no,supplier_name,supplier_user,
		unit_price,tax_rate,amount,tax_amount,total_sum,status,order_remarks,shipping_info,address,name,
		phone_no,tel_no,email,create_user,create_time,invoice_id,arrival_date,number,hold_number)
		
		VALUES(#{orederNo},#{productNo},#{productName},#{approver},#{orderDay},#{supplierNo},#{supplierName},#{supplierUser},
		#{unitPrice},#{taxRate},#{amount},#{taxAmount},#{totalSum},#{status},#{orderRemarks},#{shippingInfo},#{address},#{name},
		#{phoneNo},#{telNo},#{email},#{createUser},#{createTime},#{invoiceId},#{arrivalDate},#{number},#{holdNumber})
	</insert>
    
	<!-- 修改订单信息 -->
    <update id="update" parameterType="main.java.com.po.entity.OrderManageEntity" >
      	update order_manager 
		<set> 
			<if test="orederNo != null">order_no = #{orederNo}, </if>
			<if test="productNo != null">product_no = #{productNo}, </if>
			<if test="approver != null">approver = #{approver}, </if>
			<if test="orderDay != null">order_day = #{orderDay}, </if>
			<if test="supplierNo != null">supplier_no = #{supplierNo}, </if>
			<if test="supplierName != null">supplier_name = #{supplierName}, </if>
			<if test="invoiceId != null">invoice_id = #{invoiceId},</if>
			<if test="unitPrice != null">unit_price = #{unitPrice}, </if>
			<if test="amount != null">amount = #{amount}, </if>
			<if test="taxRate != null">tax_rate = #{taxRate}, </if>
			<if test="taxAmount != null">tax_amount = #{taxAmount}, </if>
			<if test="totalSum != null">total_sum = #{totalSum}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="orderRemarks != null">order_remarks = #{orderRemarks}, </if>
			<if test="shippingInfo != null">shipping_info = #{shippingInfo}, </if>
			<if test="createUser != null">create_user = #{createUser}, </if>
			<if test="updateTime != null">update_time = #{updateTime}, </if>
			<if test="address != null">address = #{address}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="phoneNo != null">phone_no = #{phoneNo}, </if>
			<if test="telNo != null">tel_no = #{telNo}, </if>
			<if test="email != null">email = #{email},</if>
			<if test="arrivalDate != null">arrival_date = #{arrivalDate},</if>
			<if test="number != null">number = #{number},</if>
			<if test="holdNumber != null">hold_number = #{holdNumber},</if>
			<if test="cancelReason != null">cancel_reason = #{cancelReason}</if>
		</set>
		where order_no = #{orederNo,jdbcType=VARCHAR}
    </update>
    
      <update id="updateStatus" parameterType="main.java.com.po.entity.OrderManageEntity" >
      	update order_manager 
		<set> 
			<if test="status != null">status = #{status}, </if>
			<if test="updateTime != null">update_time = #{updateTime}</if>
		</set>
		where order_no = #{orederNo,jdbcType=VARCHAR} 
		and product_no =#{productNo,jdbcType=VARCHAR}
		and supplier_no = #{supplierNo,jdbcType=VARCHAR}
    </update>
    
    <delete id="delete" parameterType="java.lang.String" >
		delete from order_manager where id = #{id,jdbcType=VARCHAR}
    </delete>
    
   <!-- 查询状态正常的产品号、订单号 -->
   <select id="queryNomal" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM order_manager
	   where status <![CDATA[ <> ]]> '0'
	   order by create_time desc
    </select>

	<!-- 查询异常订单 -->
	<select id="queryAbnomal" resultMap="BaseResultMap" parameterType="main.java.com.po.entity.OrderManageEntity">
		select T.order_no,T.product_no,T.product_name,T.number,T.hold_number ,T.arrival_date,T.status,T.order_remarks,T.supplier_no,T.supplier_user,T.email
			from (select order_no,o.product_no,o.product_name,o.number,o.number - o.hold_number as hold_number,o.arrival_date,status,order_remarks ,o.supplier_no,o.supplier_user,s.email   from order_manager o LEFT JOIN supplier_user_manage s on o.supplier_no = s.manage_no and o.supplier_user = s.user_name and status in ('2','3') ) T 
		<if test="email != null"> where T.email = #{email,jdbcType=VARCHAR} </if>
	</select>
   
</mapper>